@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

.classCapitalize{
    text-transform: capitalize;
}

.classColor {
  color: #42145f;
}
.classFontColor{
    color:#1d7b8a;
}
mat-grid-tile{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.formAdv{
    height: 1vh;
    
}
.buttonTHree{
    margin: 1vh;
}
mat-slider {
    width: 30vw;
  }
  table {
    width: 80%;
    margin: auto;
}
.mat1list{
    width:20vw;
}

.loanDetails{
    width:30vw;
}

.chart{
    margin-top: -60vh;
    margin-left: 45vw;
    width:50vw;
    
}
@media only screen and (max-width: 430px) {
    .chart{
       margin-top: 1vh;
       padding-bottom: 30vh;
       width:95vw;
       margin: auto;
    }
    .title1{
        width:50vw;
    }
    .loanDetails{
        width:75vw;
    }
}