mat-card {

  width: 80%;
  height: 60vh;
  margin: auto;

}

.btnn {
  padding-top: 20px;
}

.header {
  width: 100vw;
  height: 10vh;
  background-color: #42145F;
}

.logo {
  width: 12vw;
  margin-left: 10vw;
  margin-top: 1vw;
}

.main-div {
  margin-top: 10vh;
}

.goback {
  float: right;
  /* width:20vw; */
}
button{
    background-color: #42145F;
    color:white
}
@media only screen and (max-width: 430px) {
  .main-div {
    margin-top: 10vh;
    width: 90%;
  }
  .logo{
    margin-top: 1vh;
    width:30%;
    margin-left: 6vw;
}
.header{
    height: 56px;
}
}
