<div class="header">

    <img class="logo" src="../../../assets/natwest_logo.PNG" alt="natwest_logo">
    </div>

<div class="main-div">
    <mat-card >
        <mat-label mb-10>Forgot Password -Enter the Below details  </mat-label>
        <form (ngSubmit)="handleSubmit()" name="forgotPasswordForm" [formGroup]="forgotPasswordForm" fxLayoutAlign="stretch" fxLayout="column" class="login-form" >
            <!-- <p class="alert alert-danger" *ngIf="message">{{message}}</p> -->
            <mat-form-field  >
                <mat-label>Email-id</mat-label>
              <input matInput  name="email" formControlName="email" required/>
              <!-- <div *ngIf="f['customerid'].touched && f['customerid'].invalid" class="alert alert-danger"> -->
                  <mat-error *ngIf="f['email'].errors?.['required']">Please enter the email ID to proceed
                  </mat-error>
              <!-- </div> -->
            </mat-form-field>

            <mat-form-field  >
                <mat-label>Customer-id</mat-label>
              <input matInput  name="customerid" formControlName="customerid" required/>
              <!-- <div *ngIf="f['customerid'].touched && f['customerid'].invalid" class="alert alert-danger"> -->
                  <mat-error *ngIf="f['customerid'].errors?.['required']">Please enter the email ID to proceed
                  </mat-error>
              <!-- </div> -->
            </mat-form-field>

            <mat-form-field  >
                <mat-label>Aadhar </mat-label>
              <input matInput  name="aadhar" formControlName="aadhar" required/>
              <!-- <div *ngIf="f['customerid'].touched && f['customerid'].invalid" class="alert alert-danger"> -->
                  <mat-error *ngIf="f['aadhar'].errors?.['required']">Please enter the aadhar ID to proceed
                  </mat-error>
              <!-- </div> -->
            </mat-form-field>

            <mat-form-field  >
                <mat-label>Date of Birth</mat-label>
              <input matInput  name="dob" formControlName="dob" required/>
              <!-- <div *ngIf="f['customerid'].touched && f['customerid'].invalid" class="alert alert-danger"> -->
                  <mat-error *ngIf="f['dob'].errors?.['required']">Please enter the email ID to proceed
                  </mat-error>
              <!-- </div> -->
            </mat-form-field>


            <div class="btnn">
            <button  mat-raised-button class="resetlink" type="submit">Send Reset Link</button>
             <!-- <div class="btnn">
            <button  mat-raised-button color="primary" type="submit">Send Reset Link</button>
        </div> -->
       
        
            <button  mat-raised-button  class="goback" (click)="accessLogin()">Go Back</button>
        </div>
    </form>
            </mat-card>
            </div>
<!-- <p>forgotpassword works!</p>
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
<mat-card fxFlex="35">
<mat-toolbar >
    <mat-toolbar-row fxLayout="row">
        <Span class ="title-center">Forgot Password</Span>
    </mat-toolbar-row>
    </mat-toolbar>
    <mat-dialog-content class="mat-typography">
        <form [formGroup]="forgotPasswordForm">
            <div fxFlex fxLayout="column">
                <mat-form-field apperance="fill" fxFlex>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-error *ngIf="f['email'].errors?.['required']">Please enter the emailid to proceed
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        </mat-dialog-content>
        <mat-dialog-actions align="center">
            <button mat-raised-button type="submit" (click)="handleSubmit()" [disabled]="!(forgotPasswordForm.valid && forgotPasswordForm.dirty)">Send Password</button>"
       <button mat-raised-button mat-dialog-close>close</button>
        </mat-dialog-actions>
    </mat-card>
    </div> -->
