.main{
    padding:15px;
}
.sidebar{
    background-color:white;
    height:92%;
}
.card{
    position:relative;
    display:flex;
    flex-direction:column;
}
.content{
    background-color:white;
}
.row{
    margin-left:8vw;
    margin-right:8vw;
}
.m-3{
    font-size:2em;
    font-family: Helvetica, sans-serif;
}
img{
    width:150px;
}
/* .card-body{
height:10%;
} */
@media only screen and (max-width: 430px) {
    .cont{
        height: 95vh;
    }
}