<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-3 ">
            <div class="card text-center sidebar shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    
                    <div class="mt-3">
<img src="../assets/user-icon.png" alt="user_logo">
                     <h3>{{username}}</h3>
                     <h3>Customer ID: {{customerid}}</h3>
                    <!-- <h3>Date of Birth  {{user.dob}}</h3> -->
                    </div>    
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-3 shadow p-3 mb-5 bg-white rounded cont">
            <div class="card mb-3 content">
             <h1 class="m-3 ">Contact Details</h1>
             <div class="card-body">
                <div class="row">
                    <div class ="col-md-4">
                        <h5>Email ID</h5>
                    </div>
                    <div class="col-md-8 text-secondary">
                     {{email}}
                    </div>
                </div> 
                <hr>

                 <div class="row">
                    <div class ="col-md-4">
                        <h5>Mobile</h5>
                    </div>
                    <div class="col-md-8 text-secondary">
                {{"xxxxxxxxxx"}}
                    </div>
                </div> 
                <hr>
                <div class="row">
                    <div class ="col-md-4">
                        <h5>Aadhaar number</h5>
                    </div>
                    <div class="col-md-8 text-secondary">
                        {{"XXXX-XXXX-XXXX"}}
                    </div>
                </div> 
<hr>

                <div class="row">
                    <div class ="col-md-4">
                        <h5>Permanent Address</h5>
                    </div>
                    <div class="col-md-8 text-secondary">
                        {{"RZF-28 palam colony new Delhi 110045"}}
                    </div>
                </div>  

<hr>

<div class="row">
    <div class ="col-md-4">
        <h5>Mailing Address</h5>
    </div>
    <div class="col-md-8 text-secondary">
        {{"RZF-28 palam colony new Delhi 110045"}}
    </div>
</div>  

<hr>

        </div>
    </div>
</div>
</div>

</div>
