/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-slider-thumb {
    background-color: #42145f !important;
    border: none !important;
   
    outline: 5px solid #fff;
  }
  
  .mat-slider-track-fill {
    background-color: #42145f !important;
  }
  
  .mat-slider-track-fill,
  .mat-slider-wrapper,
  .mat-slider-track-wrapper,
  .mat-slider-track-background {
    height: 10px !important;
    border-radius: 10px;
    background-color: rgb(207, 156, 15);
    
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
